@charset "UTF-8";

.search-button {
      padding: 8px 16px;
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 20px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      font-size: 16px;
      cursor: pointer;
    }
    
    .search-button:hover {
      background-color: #45a049;
    }