
body{
    min-height: 100vh;
    margin: 0 auto;
}
.nav-li{
    list-style-type: none;
    margin: 20px 0;
}
.nav{
    width: 300px;
    height: 100vh;
    text-align: center;

    background-color: #BD5D38;
    padding-top: 250px;
}
.nav-list{
    margin-top: 70px;
}
.img-profile{
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    box-shadow: 0px 0px 0px 10px #CA7D60;
}