
body{
    min-height: 100vh;
    margin: 0 auto;
}
.nav{
    width: 300px;
    height: 100vh;
    text-align: center;

    background-color: #BD5D38;
    padding-top: 150px;
}
.navimg{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-color: #CA7D60;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px #CA7D60;
}
.img-profile{
    width: 200px;
    height: 200px;
}