table{
    width: 960px;
}
td{
    width: 192px;
}
tr{
    text-align: center;
}

#colTitle{
    font-weight: bold;
}

.borrowButton{
    padding: 5px 15px;
    border: 1px solid;
    border-radius: 20px;
    background-color: transparent;
}

.titleCenter{
    border-left: none;
    border-right: none;
}

.titleRight{
    border-left: none;
}

.titleLeft{
    border-right: none;
}